* {
	box-sizing: border-box;
}

.board {
	height: 300px;
	width: 300px;
	margin: 0 auto;
	font-size: 0;
}

.board div {
	height: 100px;
	width: 100px;
	display: inline-block;
	border: 2px solid grey;
}

.x {
	/* background-color: crimson; */
    background-image: url("images/ticTac.png");
}

.o {
	/* background-color: cornflowerblue; */
    background-image: url("images/ticTac.png");
    background-position: 100px;
}
