* {
	box-sizing: border-box;
}

.board {
	height: 300px;
	width: 300px;
	margin: 0 auto;
	font-size: 0;
    position: relative;
}
.board:before{
    content: '';
    position: absolute;
    top: 95px;
    left: 0;
    width: 100%;
    height: 10px;
    background: grey;
    border-radius: 5px;
    box-shadow: 0 100px 0 grey;
}
.board:after{
    content: '';
    position: absolute;
    left: 95px;
    top: 0;
    height: 100%;
    width: 10px;
    background: grey;
    border-radius: 5px;
    box-shadow: 100px 0 0 grey;
}

.board div {
	height: 100px;
	width: 100px;
	display: inline-block;
	/* border: 2px solid grey; */
}

.x {
	/* background-color: crimson; */
    background-image: url("images/ticTac.png");
}

.o {
	/* background-color: cornflowerblue; */
    background-image: url("images/ticTac.png");
    background-position: 100px;
}
